<div class="row nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="col">
      <%= f.input :contact_type, label: t('activerecord.attributes.contacts.contact_type'), html5: true %>
  </div>
  <div class="col">
      <%= f.input :value, label: t('activerecord.attributes.contacts.value'), html5: true %>
  </div>
</div>
<hr>
