<div class="form-inputs form-control form-control-sm my-2">
  <h1>Novo Proponente</h1>
</div>

<%= render "form", proponent: @proponent %>

<br>

<div>
  <%= link_to "Back to proponents", proponents_path %>
</div>
